@charset "UTF-8";
@import url("base.css");
@import url("usertouroku.css");

.btn01 {
	width: 203px;
	margin: 0 auto;
}

p.btn01 {
	margin-bottom: 1.2em;
}

p.btn01 a {
	background-image: url(../img/btn01.png);
}

p.btn01 a {
	width: 203px;
	height: 56px;
	display: block;
	background-size: cover;
}

p.btn01 a:hover {
	background-position: left bottom;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

/*
table tr:nth-of-type(odd) {
	background-color: #ebf5e5;
}
*/

table thead tr th {
	padding: 8px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #e8ffd1;
}

table.approval tr th{
	background-color: #ffe0ef;
}

table tr th.dailylist_th3, table tr th:nth-of-type(5) {
	font-size: 0.7em;
}

table tr th:last-of-type {
	padding-right: 14px;
}

table tr td {
	padding: 15px 5px;
	vertical-align: middle;
}

table tr td:first-of-type {
	width: 20%;
}

table tr td:nth-of-type(2) {
	width: 18%;
}

table tr td:nth-of-type(3) {
	width: 18%;
}

table tr td:nth-of-type(4) {
	text-align: left;
}

table tr td:last-of-type {
	width: 14%;
}

table.general tr td, table.approval tr td {
	padding: 5px;
}

table tr td.dailylist {
	text-align: left;
}

table tr td.dailylist_td1 {
	width: 25%;
}

table tr td.dailylist_td2 {
	width: 55%;
}

tbody tr.clickable:hover td {
	cursor: pointer;
    background: #f9fffc;
}

@media screen and (min-width:892px){

}