@charset "UTF-8";
@import url("base.css");
@import url("usertouroku.css");

table {
	width: 100%;
}

table tr th {
	width: 30%;
	padding: 8px 0;
	text-align: center;
	background-color: #ddd;
}

table tr td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

div.comment {
	margin-top: 2em;
}

div.comment label {
	width: 90px;
	padding-bottom: 2px;
}

div.comment textarea {
	width:100%;
 	resize: vertical;
 	font-size: 1.2em;
 	line-height: 1.3;
 	padding: 3px 7px;
 	margin-bottom: 0.5em;
	box-sizing:border-box;
}

div.btn_box input.btn {
	background-color: #007aac;
}

@media screen and (min-width:892px){

}