@charset "UTF-8";
@import url("base.css");

h1 {
	width: 100%;
	color: #007aac;
	font-size: 1.2em;
	font-weight: bold;
	padding: 40px 0 5px 23px;
	margin: 0 auto 30px !important;
	border-bottom: 2px solid #007aac;
	background: url(../img/mark.png) no-repeat;
	background-size: 18px;
	background-position: 0% 85%; 
}

section {
	padding-bottom: 20px;
}

form {
	width: 462px;
}

label {
	width: 150px;
}

input {
	padding: 5px 0 5px 3px;
}

input.name {
	width: 150px;
}

input.email {
	width: 66%;
}

div.btn_box {
	width: 50%;
}

.password_box {
	display: inline-block;;
}

.password_subbox {
	display: inline-block;
	vertical-align: bottom;
}

.department select, .division select, .position select {
	padding: 5px 0;
}

@media screen and (max-width:892px){
	section {
		padding: 20px;
	}

	form {
		width: 100%;
	}

	div.name input:first-of-type {
		margin-bottom: 5px;
	}

	input.email {
		width: 100%;
	}
}

p.complete {
	width: 40%;
	padding: 20px 0;
	margin: 150px 0;
	display: inline-block;
	border: 2px solid #ddd;
}

@media screen and (max-width:500px){
	form {
		width: 76%;
	}
}