@charset "UTF-8";
@import url("base.css");
@import url("usertouroku.css");

p.btn04 {
	width: 203px;
	float: right;
	margin: 50px 0 -30px;
}

p.btn04 a {
	width: 203px;
	height: 56px;
	display: block;
	background-size: cover;
	background-image: url(../img/btn06.png);
	border-radius: 3px;
}

p.btn04 a:hover {
	background-position: left bottom;
}

section:last-of-type {
	clear: both;
}

table {
	width: 100%;
	margin-bottom: 1em;
}

/*
table tr:nth-of-type(odd) {
	background-color: #ebf5e5;
}
*/

table tr th {
	padding: 8px 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffefe0;
}

table tr th:last-of-type {
	font-size: 80%;
	padding-right: 12px;
}

table tr td {
	padding: 10px 5px;
	vertical-align: middle;
}

table tr td:first-of-type {
	width: 15%;
}

table tr td:nth-of-type(2) {
	width: 25%;
}

table tr td:nth-of-type(3) {
	width: 25%;
}

table tr td:last-of-type {
	width: 10%;
	font-size: 80%;
}

tbody tr.clickable:hover td {
	cursor: pointer;
    background: #f9fffc;
}

@media screen and (min-width:892px){

}